/* html {
  height: 100%;
}
body {
  min-height: 100%;
} */
* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
.toolbar {
  margin: auto;
  padding: 15px 30px;
  display: flex;
  background: linear-gradient(to right, #8728fb, #fea18c) !important;
  color: #fff;
  width: 100%;
}
.text {
  margin-left: 20px;
}
.wrapper {
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.video {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-basis: 20%;
  flex-direction: column;
}
.cameraContainer {
  flex-basis: 100%;
  z-index: 0;
}
.K8tY_4rQtyF2TATtwygC {
  display: none;
}
.screenContainer {
  position: 'absolute';
  top: 0;
  bottom: 0;
  display: 'flex';
  width: 200;
  flex-direction: 'column';
  z-index: 5;
  /* & > *': {
        width: '128px !important',
        height: '128px !important',
        borderRadius: '50%',
        margin: '15px 0',
        border: '4px solid #d6219c'
      } */
}
.header {
  /* height: 10vh; */
  background-color: green;
}
.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.flexbox {
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: row;
}

.other {
  min-width: 125px;
  background-color: #333;
  color: #fff;
  padding: 8px 16px;
}
.footer {
  height: 10vh;
}
.participantsContainer {
  display: flex;
  flex: 1;
  justify-content: center;
}

.mainControl {
  display: flex;
  flex-shrink: 1;
  background-color: rgba(26, 26, 26, 1);

  padding: 4px 16px;
}

.left {
  flex: 1;
}

.middle {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle > div {
  margin-right: 16px;
}
.sidenav {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-basis: 10%;
  border-bottom: 1px solid #e7ebee;
  background-color: white;
}
.button {
  border-radius: '5em';
  background-color: '#32353A';
  color: '#fff';
  width: 30px;
  position: absolute;
  margin-left: 100px;
}

.buttonLeft {
  border-radius: '5em';
  background-color: '#32353A';
  color: '#fff';
  width: 30px;
  position: absolute;
  /* z-index: 100; */
  right: 95vh;
}

.fullwidth {
  flex-basis: 100%;
}
.hidden {
  width: 0px;
  height: 0px;
  visibility: hidden;
}
.showbutton {
  position: absolute;
  left: 95vw;
  z-index: 5;
}
.chatOpened {
  flex-basis: 75%;
}
.hidebutton {
  padding: 10px;
  width: 100px;
  position: absolute;
  margin-right: 50px;
  z-index: 100;
}
.participants {
  flex: 1;
  width: 100%;
  display: flex;
  overflow-y: scroll;
  padding-top: 16px;
  flex-direction: column;
  padding-bottom: 16px;
}

.list {
  background-color: white;
  flex: 3;
  display: flex;
  padding: 16px;
  overflow-y: scroll;
  flex-direction: column;
}

.right {
  flex: 1;
  display: flex;
  border-left: 1px solid #e7ebee;
  flex-direction: column;
  z-index: 100;
}
